@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/background.png');
    background-size: cover;
    background-position: center;
}

h1 {
    font-size: 150px;
    font-family: 'Special Elite', cursive;
    padding-top: 40px;
    color: rgb(206, 90, 14);
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}


header {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    position: absolute;
}

.container {
    width: 700px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 400px;
    justify-content: center;
     gap: 10px; 
    /* text-align: start; */
    align-items: center;
}

label {
    color: rgb(206, 90, 14);
    text-shadow:
        -1px -1px 0 #000,
        2px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    font-size: 50px;
    font-family: 'Special Elite', cursive;
}

input {
    width: 50%;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(248, 248, 248);
    padding-left: 10px;
    font-size: 17px;
}

.login {
    display: flex;
    align-items: center;
    text-align: start;
    flex-direction: column;
    width: 100%;
    justify-self: center;
}

button {
    width: 100px;
    height: 35px;
    border-radius: 8px;
    border: solid 1px;
    font-weight: bold;
    font-size: 15px;
    background-color:rgb(206, 90, 14);
}

button:hover{
    background-color: #da6b10cc;
    cursor: pointer;
}